$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 300px;
    border-radius: 5px;
    padding: 20px 0;
    margin: 100px auto 0 auto;
}
.title {
    font-size: 30px;
    color: $light;
    user-select: none;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.text__title {
    font-size: 16px;
    color: $grey;
    padding: 5px 0;
    user-select: none;
}
.text__data {
    font-size: 16px;
    color: $light;
    padding: 5px 0;
    font-weight: 500;
    user-select: none;
    text-align: end;
}