$grey: #788CA0;
$light: #EEF5F8;
$turquoise: #80CED7;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 400px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
    background: $lightdark;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: $light;
    user-select: none;
}
.tr__head {
    background-color: $blue;
    td {
        color: $light;
        cursor: default;
    }
}
td {
    border-bottom: 1px solid $grey;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: $light;
}
.tr:hover {
    background-color: $grey;
}
.btn {
    width: 100%;
    height: 29px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid $grey;
    background: $blue;
    margin-top: 20px;
    color: $light;
}
.btn:hover {
    background: $grey;
}
.event {
    width: 500px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 200px auto 0 auto;
}
.event__box_btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.event__btn {
    width: 300px;
    height: 60px;
    font-size: 16px;
    cursor: pointer;
    background: $blue;
    color: $light;
    border: none;
}
.event__btn:hover {
    background: $grey;
}
.text__title {
    font-size: 16px;
    color: $grey;
    padding: 5px 0;
    user-select: none;
}
.text__data {
    font-size: 16px;
    color: $light;
    padding: 5px 0;
    font-weight: 500;
    user-select: none;
}
@media(max-width: 700px) {
    .container {
        width: 300px;
        padding: 20px 0;
    }
    td {
        padding: 5px 5px;
        font-size: 15px;
    }
}