$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    max-width: 800px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
    background: $lightdark;
}
.title {
    font-size: 30px;
    padding-bottom: 10px;
    color: $light;
    margin-left: 10px;
    user-select: none;
}
.box {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 0 5px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.text__title {
    font-size: 16px;
    color: $grey;
    padding: 5px 5px 5px 0;
    user-select: none;
}
.text__data {
    font-size: 16px;
    color: $light;
    padding: 5px 0;
    font-weight: 500;
    user-select: none;
    text-align: end;
}
.subtitle {
    color: $light;
    font-size: 20px;
    margin: 20px 0 10px 0;
    user-select: none;
}
.icon__send {
    display: inline-block;
    background-color: $lightdark;
    border: none;
    cursor: pointer;
}
.btn__send {
    display: none;
    width: 290px;
    margin: 0 0 10px 0;
}
.title__comment {
    color: $light;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 10px;
}
.box__comment {
    background-color: $grey;
    margin: 5px 0;
    border-radius: 5px 5px 5px 0px;
    display: inline-block;
    padding: 5px 10px;
}
.user__comment {
    font-size: 12px;
    color: $dark;
}
.text__comment {
    padding: 5px 0px;
    color: $light;
}
.time__comment {
    text-align: end;
    font-size: 12px;
    color: $dark;
}
.box__surveys {
    margin-left: 40px;
}
.box__btns {
    margin: 20px 0 10px 0;
}
.btn {
    width: 120px; 
}
.surveys__title {
    color: $light;
    display: flex;
    align-items: center;
    user-select: none;
}
@media(max-width: 700px) {
    .container {
        width: 300px;
        padding: 20px 0;
    }
    .icon__send {
        display: none;
    }
    .btn__send {
        display: block;
    }
    .box__surveys {
        margin: 0;
    }
}