p, span {
    user-select: none;
}
.container {
    max-width: 1140px;
    margin: 120px auto 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.data {
    width: 740px;
    background-color: #00000050;
}
.data__flex_id {
    display: flex;
    justify-content: flex-end;
}
.data__box_id {
    position: relative;
    width: 120px;
    height: 0;
	border-top: 40px solid #FFFF00; 
	border-left: 30px solid transparent;
}
.data__id {
    position: absolute;
    top: -42px;
    left: 10px;
    font-family: 'DinProItalic';
    font-size: 36px;
    color: #000000;
    z-index: 100;
}
.data__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.data__title {
    font-family: DinProItalic;
    font-size: 64px;
    font-style: italic;
    color: #FFFFFF;
    span {
        font-family: DinProItalic;
        font-size: 64px;
        color: #00FFFF;
    }
}
.data__subtitle {
    font-family: DinProMedium;
    font-size: 24px;
    color: #959595;
}
.data__flex_status {
    display: flex;
    justify-content: center;
}
.data__title_status {
    font-family: DinProMedium;
    font-size: 36px;
    color: #FFFF00;
}
.data__description {
    font-family: DinProMedium;
    font-size: 24px;
    color: #959595;
    text-align: end;
    width: 400px;
}
.vote {
    width: 377px;
}
.vote__box {
    height: 359px;
}
.vote__head_title {
    font-family: DinProItalic;
    font-size: 36px;
    color: #191919;
    padding: 10px;
    text-align: center;
}
.vote__box_text {
    margin: 0 5px;
}
.vote__title {
    margin-top: 10px;
    font-size: 18px;
    color: #FFFFFF;
}
.vote__subtitle {
    font-size: 18px;
    color: #959595;
}
.vote__box_btns {
    display: flex;
    justify-content: space-between;
}
.vote__btn_accept {
    height: 50px;
    width: 185px;
    margin: 2px;
    font-family: DinProItalic;
    color: #191919;
    font-size: 36px;
    border: none;
    cursor: pointer;
    background-color: #00FFFF;
}
.vote__btn_refuse {
    height: 50px;
    width: 185px;
    margin: 2px;
    font-family: DinProItalic;
    color: #191919;
    font-size: 36px;
    border: none;
    cursor: pointer;
    background-color: #FF0080;
}
.vote__btn_mute {
    background-color: #959595;
    cursor: default;
}
.participants__box_btns {
    display: flex;
    margin-bottom: 17px;
}
.participants__btn {
    width: 186px;
    height: 47px;
    font-family: DinProItalic;
    font-size: 36px;
    border: none;
    cursor: pointer;
}
.participants__data {
    display: flex;
}
.participants__filters {
    display: flex;
    flex-direction: column;
}
.participants__btn_filter {
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 281px;
    height: 68px;
    background-color: #00000050;
    font-size: 36px;
    color: #FFFFFF;
    border: none;
    margin: 0 10px 5px 0;
    cursor: pointer;
    span {
        color: #959595;
    }
}
.active_filter {
    background-color: #F1F8FC;
    color: #000000;
}
.participants__list {
    max-height: 360px;
    overflow: auto;
}
.participants__cell {
    display: flex;
    align-items: center;
    width: 462px;
    height: 68px;
    background: linear-gradient(to right, #959595 15%, #353535 15% 98%, #959595 98%);
    margin-bottom: 5px;
    cursor: pointer;
}
.participants__cell_you {
    background: linear-gradient(to right, #FFFF00 15%, #353535 15% 98%, #FFFF00 98%);
}
.participants__cell_create {
    background: linear-gradient(to right, #FF0080 15%, #353535 15% 98%, #FF0080 98%);
}
.participants__cell_moderator {
    background: linear-gradient(to right, #00FFFF 15%, #353535 15% 98%, #00FFFF 98%);
}
.participants__cell_player {
    background: linear-gradient(to right, #959595 15%, #353535 15% 98%, #959595 98%);
}
.participants__cell:hover {
    background: linear-gradient(to right, #959595 15%, #FFFFFF 15% 98%, #959595 98%);
}
.participants__cell_you:hover {
    background: linear-gradient(to right, #FFFF00 15%, #FFFFFF 15% 98%, #FFFF00 98%);
}
.participants__cell_create:hover {
    background: linear-gradient(to right, #FF0080 15%, #FFFFFF 15% 98%, #FF0080 98%);
}
.participants__cell_moderator:hover {
    background: linear-gradient(to right, #00FFFF 15%, #FFFFFF 15% 98%, #00FFFF 98%);
}
.participants__cell_player:hover {
    background: linear-gradient(to right, #959595 15%, #FFFFFF 15% 98%, #959595 98%);
}
.participants__avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #191919;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 5px 0 43px;
}
.participants__status {
    font-size: 24px;
    color: #959595;
}
.participants__name {
    font-size: 24px;
    color: #FFFFFF;
}
.participants__cell:hover .participants__status {
    color: #363636;
}
.participants__cell:hover .participants__name {
    color: #191919;
}
.user {
    margin-left: 20px;
    width: 377px;
}
.user__flex {
    display: flex;
}
.user__status {
    color: #959595;
    font-size: 36px;
}
.user__number {
    color: #FFFFFF;
    font-family: DinProItalic;
    font-size: 18px;
}
.user__email {
    color: #959595;
    font-size: 18px;
}
.user__avatar {
    width: 146px;
    height: 146px;
    background-color: #FFFFFF;
    margin-right: 6px;
}
.user__title {
    font-family: DinProItalic;
    color: #FFFFFF;
    font-size: 36px;
    letter-spacing: 0;
}