$light: #FFFFFF;
$dark: #212121;
$blue: #2196F3;
$lightdark: #4D61A6;
.container {
    width: 1200px;
    margin: 50px auto 0 auto;
}
.title {
    color: $light;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;
    user-select: none;
}
.flex {
    display: flex;
    flex-direction: column;
}
input {
    color: $light;
}
.btn {
    width: 280px;
}