<div class="container">
    <p class="title">Изменить данные</p>
    <form [formGroup]="changeForm" novalidate (ngSubmit)="sendService()">
        <div class="flex">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Имя</mat-label>
                <input matInput formControlName="first_name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Фамилия</mat-label>
                <input matInput formControlName="last_name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Телефон</mat-label>
                <input matInput formControlName="phone_number" mask="+0 (000) 000-00-00">
            </mat-form-field>

            <div>
                <button mat-raised-button class="btn" [routerLink]="['../change-password']" type="button">Изменить пароль</button>
            </div>
            <div style="margin-top: 10px;">
                <button mat-raised-button class="btn" [disabled]="changeForm.invalid || changeForm.disabled">Изменить</button>
            </div>
        </div>
    </form>
</div>