$grey: #CCDBDC;
$light: #f1f1f1;
$turquoise: #80CED7;
$blue: #007EA7;
$dark: #003249;
.container {
    width: 600px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: $dark;
}
.tr__head {
    background-color: $blue;
    td {
        color: $light
    }
}
td {
    border-bottom: 1px solid $grey;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: $dark;
}
.tr:hover {
    background-color: $light;
}
.btn {
    width: 100%;
    height: 29px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid $grey;
    background: $blue;
    margin-top: 10px;
    color: $light;
}
.btn:hover {
    background: $turquoise;
}
.subtitle {
    font-size: 16px;
    text-align: right;
    color: $dark;
    padding-top: 20px;
}
.text {
    font-size: 18px;
    color: $dark;
    padding-bottom: 10px;
}
@media(max-width: 700px) {
    .container {
        width: 280px;
        padding: 20px 0;
    }
    td {
        padding: 5px 5px;
        font-size: 15px;
    }
}