<div class="container">
    <div class="flex">
        <img class="avatar" [src]="mydata.photo"/>
        <div style="width: 400px;">
            <p style="color: #fff;">Имя: {{mydata.first_name}}</p>
            <p style="color: #fff;">Фамилия: {{mydata.last_name}}</p>
            <p style="color: #fff;">Ник: {{mydata.username}}</p>
            <button mat-raised-button class="btn" type="button" [routerLink]="['../profile']">Профиль</button>
            <button mat-raised-button class="btn" type="button" [routerLink]="['../user-change']">Конфиденциальность</button>
        </div>
    </div>
</div>
