$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 600px;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
}
.head {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.title {
    font-size: 30px;
    color: $light;
    user-select: none;
}
.btn {
    background: $blue; 
    width: 150px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 150px; 
    height: 150px; 
    background: $blue; 
    margin-right: 20px; 
    border-radius: 5px;
}
.text {
    font-size: 20px;
}
.text__title {
    font-size: 16px;
    color: $grey;
    padding: 5px 0;
    user-select: none;
}
.text__data {
    font-size: 16px;
    color: $light;
    padding: 5px 0;
    font-weight: 500;
    user-select: none;
}
.teams__box {
    background-color: $lightdark;
    border-radius: 5px;
    padding: 20px;
}
.box {
    width: 100%;
    min-height: 80px; 
    margin-bottom: 10px;
    cursor: pointer;
}
.box:hover {
    background-color: $grey;
}
.line {
    border-bottom: 1px solid $grey;
    margin: 10px 0;
}
.subtitle {
    color: $light;
    font-size: 24px;
    padding-bottom: 10px;
}
@media(max-width: 700px) {
    .container {
        width: 300px;
        padding: 20px 0;
    }
    .title {
        font-size: 20px;
    }
    .avatar {
        display: none;
    }
}