p, span {
    user-select: none;
}
.box__data {
    padding: 20px;
}
.dangerous {
    color: #788CA0;
    user-select: none;
    margin-bottom: 10px;
}
.subtitle {
    color: #EEF5F8;
    font-size: 20px;
    margin: 0 0 10px 0;
    user-select: none;
}
.textarea {
    width: 290px;
    color: #EEF5F8;
}
.icon__send {
    display: inline-block;
    background-color: #1C1C24;
    border: none;
    cursor: pointer;
}
.btn__send {
    display: none;
    width: 290px;
    margin: 0 0 10px 0;
    background-color: #007EA7;
}
.title__comment {
    color: #EEF5F8;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin-bottom: 10px;
}
.container__comment {
    max-height: 300px;
    overflow: auto;
    border-radius: 5px;
}
.box__comment {
    background-color: #788CA0;
    margin: 5px 0;
    border-radius: 5px 5px 5px 0px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    max-width: 300px;
}
.user__comment {
    font-size: 12px;
    color: #121218;
}
.text__comment {
    padding: 5px 0px;
    color: #EEF5F8;
}
.time__comment {
    text-align: end;
    font-size: 12px;
    color: #121218;
}
.flex {
    display: flex;
    align-items: center;
}
.avatar {
    width: 50px;
    height: 50px;
    border: 1px solid #191919;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 0 5px 0 0;
}
@media(max-width: 510px) {
    .box__data {
        padding: 0;
    }
    .subtitle {
        margin: 20px 0 10px 0;
    }
    .icon__send {
        display: none;
    }
    .btn__send {
        display: block;
    }
}