<div class="container">
    <p class="title">Добавить команду</p>
    <form [formGroup]="addTeamForm" novalidate (ngSubmit)="sendService()">
        <div class="box">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Полное название</mat-label>
                <input matInput formControlName="full_name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Сокращенное название</mat-label>
                <input matInput formControlName="short_name">
            </mat-form-field>

            <div>
                <button mat-raised-button color="primary" style="width: 280px;" [disabled]="addTeamForm.invalid">Добавить команду</button>
            </div>
        </div>
    </form>
</div>