$light: #FFFFFF;
$dark: #212121;
$blue: #2196F3;
$lightdark: #0D47A1;
.container {
    width: 1200px;
    margin: 50px auto 0 auto;
}
.title {
    font-size: 48px;
    padding-bottom: 20px;
    user-select: none;
    font-weight: bold;
}
.subtitle {
    font-size: 18px;
    margin-right: 10px;
}
.box {
    display: flex;
    flex-direction: column;
}