$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 1200px;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
}
.head {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.empty {
    width: 310px;
}
.title {
    font-size: 30px;
    text-align: center;
    color: $light;
    user-select: none;
}
.btn {
    background: $blue; 
    width: 150px; 
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin-left: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    user-select: none;
}
.title {
    font-size: 30px;
    text-align: center;
    color: $light;
    user-select: none;
}
.tr__head {
    background-color: $blue;
    td {
        color: $light;
        cursor: default;
    }
}
td {
    border-bottom: 1px solid $grey;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: $light;
}
.tr {
    background: $lightdark;
}
.tr:hover {
    background-color: $grey;
}
.cell {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin-bottom: 5px;
    border-radius: 5px;
    background: $lightdark;
    width: 280px;
    height: 110px;
    padding: 10px;
}
p {
    color: $light;
    padding: 3px 0;
}
.mobile {
    display: none;
}
@media(max-width: 1250px) {
    .container {
        width: 300px;
        padding: 20px 0;
    }
    table {
        display: none;
    }
    .mobile {
        display: block;
    }
    .btn { 
        width: 150px; 
        height: 30px; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        margin-left: 0;
    }
}
.red {
    background-color: #9f0808;
}
.green {
    background-color: #089F5F;
}