<div class="container">
    <div class="head">
        <div class="empty"></div>
        <p class="title">История событий</p>
        <div class="flex">
            <button mat-raised-button class="btn" (click)="closeEvents()">Завершенные</button>
            <button mat-raised-button class="btn" (click)="cancelEvents()">Отмененные</button>
        </div>
    </div>

    <table>
        <tr class="tr__head">
            <td>Вид спорта</td>
            <td>Тип события</td>
            <td>Время начала</td>
            <td>Время конца</td>
            <td>Место</td>
            <td>Цена</td>
            <td>Кол-во игроков</td>
            <td>Статус</td>
        </tr>
        <tr class="tr" *ngFor="let event of events?.results" [ngClass]="{red: event.status == 'Отменено', green: event.status == 'Завершилось'}">
            <td>{{event.sport}}</td>
            <td>{{event.type}}</td>
            <td>{{event.time_start | date: 'dd.MM.YYYY HH:mm'}}</td>
            <td>{{event.time_end | date: 'dd.MM.YYYY HH:mm'}}</td>
            <td>{{event.location.name}}</td>
            <td>{{event.price}}</td>
            <td>{{event.participants_count}}</td>
            <td>{{event.status}}</td>
        </tr>
    </table>
    <div class="mobile">
        <div *ngFor="let event of events?.results" class="cell">
            <div class="flex">
                <p class="text">{{event.sport}}</p>
                <p class="text">{{event.type}}</p>
            </div>
            <p class="text" style="text-align: center;">{{event.time_start | date: 'dd.MM.YYYY'}}</p>
            <p class="text" style="text-align: center; font-size: 24px; font-weight: bold;">{{event.time_start | date: 'HH:mm'}} - {{event.time_end | date: 'HH:mm'}}</p>
            <div class="flex">
                <p class="text" style="font-size: 18px;">{{event.location.name}}</p>
                <p class="text" style="font-size: 18px;">{{event.price}}&#8381;</p>
                <p class="text" style="font-size: 18px;">{{event.participants_count}}чел.</p>
            </div>
        </div>
    </div>
</div>