<div class="container">
    <p class="title">История событий</p>
    <div style="display: flex;">
        <button class="btn" (click)="closeEvents()">Завершенные</button>
        <button class="btn" (click)="cancelEvents()">Отмененные</button>
    </div>
    <table>
        <tr class="tr__head">
            <td>Вид спорта</td>
            <td>Тип события</td>
            <td>Время</td>
            <td>Место</td>
            <td>Цена</td>
            <td>Кол-во игроков</td>
            <td>Статус</td>
        </tr>
        <tr class="tr" *ngFor="let event of events?.results">
            <td>{{event.kind}}</td>
            <td>{{event.type}}</td>
            <td>{{event.time_start | date: 'dd.MM.YYYY HH:mm'}}</td>
            <td>{{event.location.name}}</td>
            <td>{{event.price}}</td>
            <td>{{event.players_count}}</td>
            <td>{{event.status}}</td>
        </tr>
    </table>
</div>