$grey: #CCDBDC;
$light: #f1f1f1;
$turquoise: #80CED7;
$blue: #007EA7;
$dark: #003249;
.container {
    width: 450px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
}
.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: $dark;
}
.btn {
    width: 228px;
    height: 29px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid $grey;
    background: $blue;
    margin-top: 10px;
    color: $light;
}
.btn:hover {
    background: $turquoise;
}
.text {
    font-size: 18px;
    color: $dark;
    padding-bottom: 10px;
}
td {
    position: relative;
    text-align: end;
    padding: 15px 0;
}
.subtitle {
    font-size: 18px;
    margin-right: 10px;
    color: $dark;
}
.input {
    height: 25px;
    font-size: 18px;
    padding-left: 5px;
}
.err {
    position: absolute;
    display: block;
    font-size: 16px;
    color: red;
}
.btn__icon {
    border: none;
    background: none;
    cursor: pointer;
}