$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 300px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px 0;
    margin: 100px auto 0 auto;
    background: $lightdark;
}
.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    color: $light;
    user-select: none;
}
.btn__icon {
    border: none;
    background: none;
    cursor: pointer;
}