$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 600px;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
}
.head {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}
.empty {
    width: 150px;
}
.title {
    font-size: 30px;
    text-align: center;
    color: $light;
    user-select: none;
    margin-left: 10px;
}
.btn {
    background: $blue; 
    width: 150px; 
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-right: 10px;
}
.add {
    display: none;
    color: $light;
    font-size: 30px;
    padding-bottom: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.tr__head {
    background-color: $blue;
    td {
        color: $light;
        cursor: default;
    }
}
td {
    border-bottom: 1px solid $grey;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: $light;
}
.tr {
    background: $lightdark;
}
.tr:hover {
    background-color: $grey;
}
.mobile {
    display: none;
}
.cell {
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    margin-bottom: 5px;
    border-radius: 5px;
    background: $lightdark;
    width: 280px;
    padding: 10px;
}
.text {
    font-size: 16px;
    color: $light;
    padding: 3px 0;
    display: flex;
    align-items: center;
}
@media(max-width: 700px) {
    .container {
        width: 290px;
        padding: 20px 0;
    }
    .empty {
        display: none;
    }
    .btn {
        display: none;
    }
    .add {
        display: block;
    }
    table {
        display: none;
    }
    .mobile {
        display: block;
    }
}