.teams {
    width: 550px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 200px auto 0 auto;
}
.teams__title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td {
    border-bottom: 1px solid #ccc;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}
.tr:hover {
    background-color: #f5f5f5;
}
.teams__btn {
    width: 100%;
    height: 29px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.teams__btn:hover {
    background: #E0E4E7;
}