<div class="container">
    <p class="title">Добавить игрока</p>
    <form [formGroup]="addPlayerForm" novalidate (ngSubmit)="sendService()">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <p class="subtitle">Команда: {{team?.full_name}}</p>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 250px;">
                <mat-label>Номер игрока</mat-label>
                <input matInput formControlName="number" style="color: #EEF5F8">
            </mat-form-field>

            <div>
                <button mat-raised-button style="background: #788CA0; width: 250px;" 
                [disabled]="addPlayerForm.invalid">Вступить в команду</button>
            </div>
        </div>
    </form>
</div>