<button class="add-player__btn" [routerLink]="['../home']">назад</button>
<div class="add-player">
    <p class="add-player__title">Добавить игрока</p>
    <form [formGroup]="addPlayerForm" novalidate (ngSubmit)="sendService()">
        <table>
            <tr>
                <td> <span class="add-player__subtitle">Команда:</span> </td>
                <td> 
                    <mat-form-field appearance="fill">
                        <mat-label>Команда</mat-label>
                        <mat-select formControlName="team">
                            <mat-option *ngFor="let team of teams.results" [value]="team.id">
                                {{team.full_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td> <span class="add-player__subtitle">Номер игрока:</span> </td>
                <td> 
                    <input class="add-player__input" formControlName="number">
                    <span class="add-player__err" *ngIf="addPlayerForm.controls['number'].invalid && addPlayerForm.controls['number'].touched">Введите номер игрока!</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td> 
                    <button class="add-player__btn" [disabled]="addPlayerForm.invalid">Добавить игрока</button>
                </td>
            </tr>
        </table>
    </form>
</div>