$light: #FFFFFF;
$dark: #212121;
$blue: #2196F3;
$lightdark: #4D61A6;
.container {
    width: 1200px;
    margin: 50px auto 0 auto;
}
.head {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}
.empty {
    width: 150px;
}
.title {
    font-size: 30px;
    text-align: center;
    color: $light;
    user-select: none;
}
.btn {
    background: $blue; 
    width: 150px; 
    height: 30px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.add {
    display: none;
    color: $light;
    font-size: 30px;
    padding-bottom: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.tr__head {
    background-color: $blue;
    td {
        color: $light;
        cursor: default;
    }
}
td {
    border-bottom: 1px solid $blue;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: $light;
}
.tr {
    background: $lightdark;
}
.tr:hover {
    background-color: $blue;
}
.mobile {
    display: none;
}
.cell {
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
    margin-bottom: 5px;
    border-radius: 5px;
    background: $lightdark;
    width: 280px;
    min-height: 110px;
    padding: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.text {
    font-size: 16px;
    color: $light;
    padding: 3px 0;
}
@media(max-width: 1350px) {
    .container {
        width: 300px;
        padding: 20px 0;
    }
    .empty {
        display: none;
    }
    .title {
        font-size: 20px;
    }
    .btn {
        display: none;
    }
    .add {
        display: block;
    }
    table {
        display: none;
    }
    .mobile {
        display: block;
    }
}