<div class="auth">
    <p class="auth__title">Авторизация</p>
    <form [formGroup]="authForm" novalidate (ngSubmit)="sendService()">
        <table>
            <tr>
                <td> <span class="auth__subtitle">Введите номер телефона:</span> </td>
                <td> 
                    <input class="auth__input" formControlName="phone_number"> 
                    <span class="auth__err" *ngIf="authForm.controls['phone_number'].invalid && authForm.controls['phone_number'].touched">Введите номер телефона!</span>
                </td>
            </tr>
            <tr>
                <td> <span class="auth__subtitle">Введите пароль:</span> </td>
                <td> 
                    <mat-form-field appearance="fill">
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button class="btn__icon" type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <span class="auth__err" *ngIf="authForm.controls['password'].invalid && authForm.controls['password'].touched">Придумайте пароль!</span>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="auth__btn" [routerLink]="['../register']" type="button">Зарегестрироваться</button>
                </td>
                <td> 
                    <button class="auth__btn" [disabled]="authForm.invalid || authForm.disabled">Войти</button>
                </td>
            </tr>
        </table>
    </form>
</div>