$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 280px;
    height: 360px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 70px 30px 0;
    margin: 200px auto 0 auto;
    background: $lightdark;
}
.title {
    color: $light;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    user-select: none;
}
.btn__icon {
    border: none;
    background: none;
    cursor: pointer;
}
.subtitle {
    color: $light;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 0;
}