$light: #FFFFFF;
$dark: #212121;
$blue: #2196F3;
$lightdark: #4D61A6;
.container {
    width: 280px;
    height: 360px;
    padding: 70px 30px 0;
    margin: 200px auto 0 auto;
}
.title {
    color: $light;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    user-select: none;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    color: $light;
}
.btn__icon {
    border: none;
    background: none;
    cursor: pointer;
}
.btn {
    background: $blue;
    width: 250px;
}
.subtitle {
    color: $light;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
}
@media(max-width: 1024px) {
    .container {
        margin: 50px auto;
    }
}