<button class="btn" style="width: 228px;" (click)="back()">назад</button>
<div class="container">
    <p class="subtitle">Полное название команды: {{team?.full_name}}</p>
    <p class="subtitle">Сокращенное название команды: {{team?.short_name}}</p>
    <p class="subtitle" style="margin-bottom: 10px;">Количество игроков: {{count}}</p>
    <p class="title">Список игроков</p>
    <table>
        <tr class="tr__head">
            <td>Номер</td>
            <td>Имя</td>
        </tr>
        <tr class="tr" *ngFor="let player of team?.players">
            <td [routerLink]="['./player', player.id]">{{player?.number}}</td>
            <td [routerLink]="['./player', player.id]">{{player?.user.full_name}}</td>
        </tr>
    </table>
    <button class="btn" [routerLink]="['./add-player', id]">Вступить в команду</button>
</div>