<div class="container">
    <p class="subtitle">{{team?.full_name}}</p>
    <div class="flex name">
        <p class="text__title">Полное название команды: </p>
        <p class="text__data">{{team?.full_name}}</p>
    </div>
    <div class="flex name">
        <p class="text__title">Сокращенное название команды: </p>
        <p class="text__data">{{team?.short_name}}</p>
    </div>
    <div class="flex">
        <p class="text__title">Количество игроков: </p>
        <p class="text__data" style="color: #089F5F;">{{count}}</p>
    </div>
    <div class="flex">
        <p class="text__title">Описание команды: </p>
        <p class="text__data">{{team?.description}}</p>
    </div>
    <p class="title">Состав команды:</p>
    <table>
        <tr class="tr__head">
            <td *ngIf="team.id != 1">Номер</td>
            <td>Имя</td>
            <td>Подтвержден</td>
        </tr>
        <tr class="tr" *ngFor="let player of team?.players">
            <td *ngIf="team.id != 1" [routerLink]="['./player', player.id]">{{player?.number}}</td>
            <td [routerLink]="['./player', player.id]">{{player?.user.full_name}}</td>
            <td [routerLink]="['./player', player.id]">
                <mat-icon style="color: #089F5F;" aria-hidden="false" aria-label="Example logout icon" *ngIf="player?.confirmed">done</mat-icon>
                <mat-icon style="color: #9f0808;" aria-hidden="false" aria-label="Example logout icon" *ngIf="!player?.confirmed">close</mat-icon>
            </td>
        </tr>
    </table>
    <div class="mobile">
        <div *ngFor="let player of team?.players" [routerLink]="['./player', player.id]" class="cell">
            <p class="text">{{player?.number}} {{player?.user.full_name}}
                <mat-icon style="color: #089F5F;" aria-hidden="false" aria-label="Example logout icon" *ngIf="player?.confirmed">done</mat-icon>
                <mat-icon style="color: #9f0808;" aria-hidden="false" aria-label="Example logout icon" *ngIf="!player?.confirmed">close</mat-icon>
            </p>
        </div>
    </div>
    <button *ngIf="aAuth && team.id != 1 && !isHere" class="btn" [routerLink]="['./add-player', id]">Заявка на вступление в команду</button>
    <button *ngIf="aAuth && team.id != 1 && isHere" class="btn" [routerLink]="['./add-player', id]">Выйти из команды</button>
</div>