$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.header {
    position: fixed;
    top: 0; right: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background: $dark;
    margin: 0 20px;
}
@media(max-width: 500px) {
    .header {
        margin: 0 10px;
    }
}
.logo {
    width: 200px;
    height: 70px;
    background-image: url(../../../../assets/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.link {
    text-decoration: none;
    font-size: 20px;
    color: $light;
    padding: 36px 31px;
}
@media(max-width: 1150px) {
    .link {
        display: none;
    }
    .box {
        display: none;
    }
    .avatar {
        display: none;
    }
}
.active {
    color: $blue;
    text-decoration: underline;
    background-color: $light;
}
.box {
    width: 200px;
    display: flex;
    justify-content: flex-end;
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $blue;
}
.router-outlet {
    padding: 20px;
}





ng-sidebar-container {
    height: 100vh;
}
::ng-deep .ng-sidebar {
    background-color: $lightdark;
    width: 100%;
    height: 100%;
}
.burger__ul {
    margin: 100px 0 0 30px; 
    list-style: none;
}
.burger__li {
    padding: 0 0 15px 0;
}
.burger__a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;
    transition: all 0.4s ease-in-out;
    color: $light;
    text-decoration-line: none;
}
.burger__a:hover {
    color: $blue;
    text-decoration-line: underline;
}
.burger {
    z-index: 1010;
    display: none;
	width: 30px;
    height: 30px;
    top: 30px;
    right: 30px;
    position: fixed;
    outline: none;
    border: none;
    background: none;
}
@media(max-width: 1150px) {
    .burger {
        display: block;
    }
}
.burger__line1 {
    position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    height: 5px;
    background-color: $blue;
    border-radius: 25%;

    opacity: 100;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
}
.burger__line1_active {
	position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    height: 5px;
    background-color: $blue;
    border-radius: 25%;

    opacity: 0;
    transform: translateX(40px);
    transition: all 0.4s ease-in-out;
}
.burger__line2 {
    position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    height: 5px;
    background-color: $blue;
    border-radius: 25%;

    opacity: 100;
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
}
.burger__line2_active {
	position: absolute;
    left: 0;
    top: 15px;
    width: 30px;
    height: 5px;
    background-color: $blue;
    border-radius: 25%;

    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.4s ease-in-out;
}
.burger__line3 {
	position: absolute;
	left: 0;
	top: 5px;
	width: 30px;
	height: 5px;
    background-color: $light;
    border-radius: 25%;

    transform: rotate(0deg);
    transform-origin: 5%;
    transition: transform 0.5s;
}
.burger__line3_active {
	position: absolute;
	left: 0;
	top: 5px;
	width: 30px;
	height: 5px;
    background-color: $light;
    border-radius: 25%;

    transform: rotate(45deg);
    transform-origin: 5%;
    transition: transform 0.5s;
}
.burger__line4 {
	position: absolute;
	left: 0;
	top: 25px;
	width: 30px;
	height: 5px;
    background-color: $light;
    border-radius: 25%;

    transform: rotate(0deg);
    transform-origin: 5%;
    transition: transform 0.5s;
}
.burger__line4_active {
	position: absolute;
	left: 0;
	top: 25px;
	width: 30px;
	height: 5px;
    background-color: $light;
    border-radius: 25%;

    transform: rotate(-45deg);
    transform-origin: 5%;
    transition: transform 0.5s;
}
@media(max-width: 500px) {
    .logo {
        width: 100px;
        height: 50px;
    }
    .burger {
        top: 20px;
        right: 20px;
    }
}