.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    user-select: none;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn__icon {
    border: none;
    background: none;
    cursor: pointer;
}