<div class="container">
    <h1>Изменить пароль</h1>
    <form [formGroup]="changeForm" novalidate (ngSubmit)="sendService()">
        <div class="box">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 250px;">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <div style="margin-top: 10px">
                <button mat-raised-button style="width: 250px;" color="primary" [disabled]="changeForm.invalid || changeForm.disabled">Отправить письмо на почту</button>
            </div>
        </div>
    </form>
</div>