$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 300px;
    border-radius: 5px;
    padding: 20px 0;
    margin: 100px auto 0 auto;
    background: $lightdark;
}
.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
    color: $light;
    user-select: none;
}
.subtitle {
    font-size: 18px;
    margin-right: 10px;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    color: $light;
}
.btn {
    background: $grey;
    width: 280px;
}