<div class="container">
    <p class="title">Список событий</p>
    <table>
        <tr class="tr__head">
            <td>Время</td>
            <td>Место</td>
            <td>Цена</td>
            <td>Кол-во игроков</td>
        </tr>
        <tr class="tr" *ngFor="let event of events?.results">
            <td [routerLink]="['../event', event.id]">{{event.time_start | date: 'dd.MM.YYYY HH:mm'}}</td>
            <td [routerLink]="['../event', event.id]">{{event.location.name}}</td>
            <td [routerLink]="['../event', event.id]">{{event.price}}</td>
            <td [routerLink]="['../event', event.id]">{{event.players_count}}</td>
        </tr>
    </table>
    <button class="btn" [routerLink]="['../add-event']">Добавить событие</button>
</div>