<div class="container">
    <h1>Авторизация</h1>
    <form [formGroup]="authForm" novalidate (ngSubmit)="sendService()">
        <div class="box">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 250px;">
                <mat-label>Введите телефон или почту</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="fill" style="width: 250px;">
                <mat-label>Введите пароль</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button class="btn__icon" type="button" mat-icon-button matSuffix 
                    (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <p [routerLink]="['../change-password']" class="subtitle">Забыли пароль?</p>

            <div>
                <button mat-raised-button style="width: 250px;" color="primary" [disabled]="authForm.invalid || authForm.disabled">Войти</button>
            </div>
            <p [routerLink]="['../register']" class="subtitle">Еще не зарегистрированы?</p>
        </div>
    </form>
</div>