<div class="map">
    <ya-map 
        [center]="center" 
        [zoom]="zoom" 
        (yaclick)="onMapClick($event)" 
        [state]="{ controls: ['smallMapDefaultSet'] }" 
        (ready)="onMapReady($event)"
    >
        <ya-placemark
            *ngFor="let placemark of placemarks"
            [geometry]="placemark.geometry"
            [properties]="placemark.properties"
            [options]="placemark.options"
            (yaclick)="openDialog(placemark.location)"
        ></ya-placemark>
    </ya-map>
</div>
