<div class="container">
    <p class="title">Добавить место</p>
    <form [formGroup]="addLocationForm" novalidate (ngSubmit)="sendService()">
        <div class="box">
            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Название</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Адрес</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill" style="width: 280px;">
                <mat-label>Описание</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>

            <div>
                <button mat-raised-button class="btn" [disabled]="addLocationForm.invalid">Добавить место</button>
            </div>
        </div>
    </form>
</div>