$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 700px;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: $light;
    user-select: none;
}
.tr__head {
    background-color: $blue;
    td {
        color: $light;
        cursor: default;
    }
}
td {
    border-bottom: 1px solid $grey;
    padding: 10px 30px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: $light;
}
.tr:hover {
    background-color: $grey;
}
@media(max-width: 700px) {
    .container {
        width: 300px;
        padding: 20px 0;
    }
    td {
        padding: 5px 5px;
        font-size: 15px;
    }
    .td__title {
        display: none;
    }
}