<div class="container">
    <div class="head">
        <div class="empty"></div>
        <p class="title">Список мест</p>
        <button *ngIf="aAuth" mat-raised-button class="btn" [routerLink]="['../add-location']">Добавить место</button>
        <mat-icon *ngIf="aAuth" class="add" aria-hidden="false" aria-label="Example add icon" [routerLink]="['../add-location']">add</mat-icon>
        <div *ngIf="!aAuth" class="empty"></div>
    </div>
    <table>
        <tr class="tr__head">
            <td>Название</td>
            <td>Адрес</td>
        </tr>
        <tr class="tr" *ngFor="let location of locations?.results">
            <td [routerLink]="['../location', location.id]">{{location.name}}</td>
            <td [routerLink]="['../location', location.id]">{{location.address}}</td>
        </tr>
    </table>
</div>