<div class="container">
    <div class="head">
        <div class="empty"></div>
        <p class="title">Список мест</p>
        <button *ngIf="aAuth" mat-raised-button class="btn" [routerLink]="['../add-location']">Добавить место</button>
        <mat-icon *ngIf="aAuth" class="add" aria-hidden="false" aria-label="Example add icon" [routerLink]="['../add-location']">add</mat-icon>
        <div *ngIf="!aAuth" class="empty"></div>
    </div>
    <table>
        <tr class="tr__head">
            <td>Название</td>
            <td>Адрес</td>
            <td>Подтверждено</td>
        </tr>
        <tr class="tr" *ngFor="let location of locations?.results">
            <td [routerLink]="['../location', location.id]">{{location.name}}</td>
            <td [routerLink]="['../location', location.id]">{{location.address}}</td>
            <td [routerLink]="['../location', location.id]">
                <mat-icon style="color: #089F5F;" aria-hidden="false" aria-label="Example logout icon" *ngIf="location?.confirmed">done</mat-icon>
                <mat-icon style="color: #9f0808;" aria-hidden="false" aria-label="Example logout icon" *ngIf="!location?.confirmed">close</mat-icon>
            </td>
        </tr>
    </table>
    <div class="mobile">
        <div *ngFor="let location of locations?.results" [routerLink]="['../location', location.id]" class="cell">
            <p class="text" style="display: flex; align-items: center;">{{location?.name}} 
                <mat-icon style="color: #089F5F;" aria-hidden="false" aria-label="Example logout icon" *ngIf="location?.confirmed">done</mat-icon>
                <mat-icon style="color: #9f0808;" aria-hidden="false" aria-label="Example logout icon" *ngIf="!location?.confirmed">close</mat-icon>
            </p>
            <p class="text">{{location?.address}}</p>
        </div>
    </div>
</div>