<div class="box__events">
    <p *ngIf="isEvents">Нет ближайших событий</p>
    <div *ngFor="let event of events">
        <p style="text-align: center;">{{event.date}}</p>
        <div class="cell" *ngFor="let e of event.events" (click)="openEvent(e.id)">
            <div class="flex" style="align-items: center;">
                <div class="flex" style="align-items: center;">
                    <mat-icon style="color: #EEF5F8; font-size: 22px; width: 20px; height: 22px;" aria-hidden="false" aria-label="Example logout icon">{{e.type.icon}}</mat-icon>
                    <img src={{e.sport.image.file}} alt="volleyball" style="margin: 0 5px;">
                    <span class="text" style="font-size: 18px;">{{e.applications_count}}</span>
                    <mat-icon style="color: #EEF5F8;" aria-hidden="false" aria-label="Example logout icon">person</mat-icon>
                </div>          
                <p class="point" [ngStyle]="{'background': e.status.color}"></p> 
            </div>
            
            <p class="text" style="text-align: center; font-size: 28px; font-weight: bold;">{{e.short_time}}</p>
            <div class="flex">
                <p class="text" style="font-size: 18px;">{{e.location.name}}</p>
                <p class="text" style="font-size: 18px; color: #48FFB4;">{{e.price}}&#8381;</p>
            </div>
        </div>
    </div>
</div>