<div class="container">
    <div class="flex">
        <h1>Список событий</h1>
        <button mat-raised-button color="primary" [routerLink]="['../add-event']">Добавить событие</button>
    </div>

    <div class="flex">
        <mat-form-field class="example-full-width" appearance="fill" style="width: 250px;">
            <mat-label>Вид спорта</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 250px;">
            <mat-label>Статус события</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 250px;">
            <mat-label>Выбор недели</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill" style="width: 250px;">
            <mat-label>Выбор даты</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

    <div class="box">
        <div class="map">
            <ya-map 
                [center]="[45.05, 41.95]" 
                [zoom]="12" 
                (yaclick)="onMapClick($event)" 
                [state]="{ controls: ['smallMapDefaultSet'] }" 
                (ready)="onMapReady($event)"
            >
                <!-- <ya-clusterer 
                    [options]="clustererOptions" 
                    (ready)="onClustererReady($event)" 
                > -->
                    <ya-placemark
                        *ngFor="let placemark of placemarks"
                        [geometry]="placemark.geometry"
                        [properties]="placemark.properties"
                        [options]="placemark.options"
                        (yaclick)="openDialog(placemark.id)"
                    ></ya-placemark>
                <!-- </ya-clusterer> -->
            </ya-map>
        </div>
        <div class="box__events">
            <div *ngFor="let event of events | keyvalue">
                <p style="text-align: center;">{{event.key}}</p>
                <div class="cell" *ngFor="let e of $any(event).value" [routerLink]="['../event', e.id]">
                    <div class="flex" style="align-items: start;">
                        <div class="flex" style="align-items: start;">
                            <mat-icon style="color: #EEF5F8; margin-right: 5px;" aria-hidden="false" aria-label="Example logout icon" *ngIf="e.type == 'Закрытая игра'">lock</mat-icon>
                            <mat-icon style="color: #EEF5F8; margin-right: 5px;" aria-hidden="false" aria-label="Example logout icon" *ngIf="e.type == 'Открытая игра'">lock_open</mat-icon>
                            <img src="../../../../assets/img/volleyball.png" alt="volleyball" width="24px" height="22px" *ngIf="e.sport == 'Волейбол'">
                            <span class="text" style="font-size: 18px; margin-left: 5px; position: relative;">
                                {{e.applications_count}}
                                <mat-icon style="color: #EEF5F8; position: absolute; top: 0;" aria-hidden="false" aria-label="Example logout icon">person</mat-icon>
                            </span>
                        </div>
                        <p class="point" style="background: blue;" *ngIf="e.status == 'Зарегистрировано'"></p>
                        <p class="point" style="background: yellow;" *ngIf="e.status == 'Ожидается начало'"></p>
                        <p class="point" style="background: green;" *ngIf="e.status == 'Сейчас идет'"></p>
                    </div>
                    <p class="text" style="text-align: center; font-size: 28px; font-weight: bold;">{{e.short_time}}</p>
                    <div class="flex">
                        <p class="text" style="font-size: 18px;">{{e.location.name}}</p>
                        <p class="text" style="font-size: 18px; color: #48FFB4;">{{e.price}}&#8381;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" style="margin-top: 10px;" *ngIf="isLocation" (click)="saveLocation()">Сохранить локацию</button>
</div>

<div class="spinner" *ngIf="spinner">
    <mat-spinner></mat-spinner>
</div>