/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$green-palette, A400);

$my-theme: mat.define-dark-theme((
    color: (primary: $my-primary, accent: $my-accent)
));

@include mat.all-component-themes($my-theme);



@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');
$light: #FFFFFF;
$dark: #212121;
$blue: #2196F3;
$lightdark: #4D61A6;
* {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}
html, body {
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar {
        height: 5px;
        background-color: $dark;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $light;
        border-radius: 4px;
    }
}
@media(max-width: 500px) {
    html, body {
        ::-webkit-scrollbar {
            width: 6px;
        }
    }
}
body {
    background-color: $dark;
}
