<div class="container">
    <p class="title">О нас</p>
    <p class="subtitle">Каждый может найти свою команду</p>

    <div style="display: flex">
        <div class="cell">
            <div class="avatar__mr"></div>
            <div>
                <p class="text">Николай Маршанский</p>
                <a class="link" target="_blank" href="https://instagram.com/mr.marshanskiy">@mr.marshanskiy</a>
            </div>
        </div>
        <div class="cell">
            <div class="avatar__bg"></div>
             <div>
                <p class="text">Богдан Москвитин</p>
                <a class="link" target="_blank" href="https://instagram.com/moskvitin.bg">@moskvitin.bg</a>
            </div>
        </div>
    </div>

    <p class="footer">Free Team Games 1.1</p>
</div>