<div class="container">
    <p class="title">О нас</p>
    <p class="subtitle">Каждый может найти свою команду</p>

    <a href="https://www.instagram.com/free.team.club" target="_blank" class="insta_icon insta_box">
        <img src="../../../../assets/img/instagram-brands.svg" alt="Instagram" height="20px" style="margin-right: 5px;">
        <p class="text">free.team.club</p>
    </a>

    <div class="box__cell">
        <a class="cell" target="_blank" href="https://instagram.com/mr.marshanskiy">
            <div class="avatar__mr"></div>
            <div>
                <p class="text">Николай Маршанский</p>
                <div class="insta_icon">
                    <img src="../../../../assets/img/instagram-brands.svg" alt="Instagram" height="16px" style="margin-right: 5px;">
                    <p class="link">mr.marshanskiy</p>
                </div>
            </div>
        </a>
        <a class="cell" target="_blank" href="https://instagram.com/moskvitin.bg">
            <div class="avatar__bg"></div>
             <div>
                <p class="text">Богдан Москвитин</p>
                <div class="insta_icon">
                    <img src="../../../../assets/img/instagram-brands.svg" alt="Instagram" height="16px" style="margin-right: 5px;">
                    <p class="link">moskvitin.bg</p>
                </div>
            </div>
        </a>
    </div>
</div>