<div class="container">
    <p class="title">О нас</p>
    <p class="subtitle">Каждый может найти свою команду</p>

    <div class="box__cell">
        <a class="cell" target="_blank" href="https://instagram.com/mr.marshanskiy">
            <div class="avatar__mr"></div>
            <div>
                <p class="text">Николай Маршанский</p>
                <p class="link">@mr.marshanskiy</p>
            </div>
        </a>
        <a class="cell" target="_blank" href="https://instagram.com/moskvitin.bg">
            <div class="avatar__bg"></div>
             <div>
                <p class="text">Богдан Москвитин</p>
                <p class="link">@moskvitin.bg</p>
            </div>
        </a>
    </div>
</div>