$grey: #788CA0;
$light: #EEF5F8;
$blue: #007EA7;
$dark: #121218;
$lightdark: #1C1C24;
.container {
    width: 610px;
    border-radius: 5px;
    padding: 20px 30px;
    margin: 100px auto 0 auto;
}
.title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    color: $light;
    user-select: none;
}
.subtitle {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    color: $light;
    font-style: italic;
    user-select: none;
}
.soc__icon {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 160px;
    img{filter: invert(97%) sepia(14%) saturate(663%) hue-rotate(175deg) brightness(102%) contrast(94%);}
}
.soc__icon:hover {
    img{filter: invert(32%) sepia(26%) saturate(4482%) hue-rotate(168deg) brightness(96%) contrast(107%);}
    p{color: $blue;}
}
.box__cell {
    display: flex;
    flex-wrap: wrap;
}
.cell {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid $grey;
    width: 270px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    background: $lightdark;
}
// .cell:hover {
//     background: $grey;
// }
.avatar__mr {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url(../../../../assets/img/mr.marshanskiy.jpg);
    background-size: contain;
}
.text {
    font-size: 20px;
    color: $light;
    user-select: none;
}
.link {
    font-size: 16px;
    color: $light;
    text-decoration: none;
}
.avatar__bg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url(../../../../assets/img/bg.moskvitin.jpg);
    background-size: contain;
}
.privacy_policy {
    font-size: 16px;
    color: $light;
    cursor: pointer;
}
@media(max-width: 700px) {
    .container {
        width: 300px;
        padding: 20px 0;
    }
}